<main role="main" class="inner cover text-center">
        <div class="jumbotron">
        <h1 class="cover-heading"><%=@title%></h1>
        </div>
        <p class="lead"><%=@content%></p>
        <p class="lead">
</main>

