<!--Section: Contact v.2-->
<section class="mb-3">

    <!--Section heading-->
    <br>
    <h1 style="font-size: 40px" class="h1-responsive font-weight-bold text-center">Contact Info</h1>

    <div class="row">
    <br>
    <br>
        <div class="row-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>Email: taylorbustamante16@gmail.com</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>Phone: (559)-349-0288</p>
                </li>

                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>San Francisco, CA 94123, USA</p>
                </li>
            </ul>
        </div>

    </div>

</section>