<h1>Current Projects:</h1> <br>
<ul style="font-size: 14px">
    <li><%= link_to "Ruby CLI App", "https://github.com/tbustama/ruby-project-guidelines" %></li> <br>
    <li><%= link_to "This Website", "https://github.com/tbustama/personal_page" %></li> <br>
</ul>
