<h1>Resume</h1>
<iframe src="https://docs.google.com/document/d/1RFz8ucQXUrZ6r4fz5c0E5x4FIqIB9RJc4slbYPIQbRE/" style="width:800px; height:800px;" frameborder="0"></iframe>
<%# <img src="app/views/resumes/final_resume_Page_1.jpg"> %>